// Font 
$main-font: 'Barlow Semi Condensed', sans-serif;

// COLORI 

// Color Cube
$one: #ffffff;
$two: #060606;
$three:#6b0c7a;
$four:#bc0428;
$five: #bcbcbc;
$six: #4154fe;
$seven: #78787a;
$eight: #014461;
$nine: #ec5a57;
$ten: #504e00;

// Median Cut
$eleven:#bc8b96;
$twelve: #0d0b12;
$thirteen: #683551;
$fourteen: #4321aa;
$fifteen: #709e9c;

// Material Design
$sixteen: #a00644;
$seventeen: #b6967e;
$eighteen: #4613a0;
$nineteen: #362428;
$twenty: #4257ef;